.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

body {
    background: #f6f6f6;
    padding-bottom: 30px;
    padding-top: 30px;
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}